<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Заголовок страницы</title>
  <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
<header>
    <img width="500px" height="296px"
       src="https://www.maxpixel.net/static/photo/1x/Car-Vehicle-Auto-Garage-Auto-Garage-Mechanic-4764243.png">
  <style>
    {
      width: 300px; /* Ширина поля в пикселах */
    }
  </style>
  <h1>Добро пожаловать в ГАРАЖ!</h1>
  <p >Для того чтобы продолжит необходимо авторизироваться или зарегистрироваться.
    <br>Это можно сделать ниже.</p>
  <nav>
    <ul>
      <li><a href="login">Авторизация</a></li>
      <li><a href="registration">Регистрация</a></li>
    </ul>
  </nav>
</header>
<main>

</main>

</body>
</html>