<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>users</title>
</head>
<body>
<tbody>
<h1>
    <img width="500px" height="296px"
         src="https://www.maxpixel.net/static/photo/1x/Car-Vehicle-Auto-Garage-Auto-Garage-Mechanic-4764243.png">
</h1>
<table style="border-width:500px;">
    <tr style="background-color:#1c87c9; color:#fff;">
        <th th:width="100px">Users name</th>
        <th th:width="50px">Users Id</th>
        <th th:width="350px">Garage</th>
    </tr>
</table>
<tr th:each="user: ${users}">

    <table style="border-width:500px;">

        <tr style="border-width:500px;background-color:lightgrey;">
            <td th:width="100px"><b th:text="${user.name}"></b>
              </td>
            <th th:width="50px"><b th:text="${user.userId}"></b></th>
            <th th:width="350px"><b th:text="${user.garage}"></b></th>

        </tr>
    </table>

</tr>
</tbody>
</body>
</html>

